apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: owncloud

resources:
  - namespace.yaml
  - postgres.yaml
  - keycloak.yaml
  - ocis.yaml
  - ingress.yaml
  - certificates-keyvault.yaml

configMapGenerator:
  - name: keycloak-config
    literals:
      - hostname=KEYCLOAK_HOSTNAME
      - db-host=POSTGRES_HOST
  
  - name: ocis-config
    literals:
      - ocis-url=https://OCIS_HOSTNAME
      - db-host=POSTGRES_HOST

secretGenerator:
  - name: postgres-secret
    literals:
      - username=POSTGRES_USER
      - password=POSTGRES_PASSWORD
  
  - name: keycloak-secret
    literals:
      - admin-username=admin
      - admin-password=KEYCLOAK_ADMIN_PASSWORD
  
  - name: ocis-secret
    literals:
      - admin-user-id=admin
      - admin-password=OCIS_ADMIN_PASSWORD
      - oidc-client-id=ocis
      - oidc-client-secret=OIDC_CLIENT_SECRET
      - jwt-secret=OCIS_JWT_SECRET
      - transfer-secret=OCIS_TRANSFER_SECRET
      - machine-auth-api-key=OCIS_MACHINE_AUTH_API_KEY
      - system-user-api-key=OCIS_SYSTEM_USER_API_KEY
  
  - name: azure-storage-secret
    literals:
      - account-name=STORAGE_ACCOUNT_NAME
      - account-key=STORAGE_ACCOUNT_KEY
